<%- include('../partials/header.html') %>
<a href="javascript:history.back()">
	<i class="fa-sharp fa-solid fa-arrow-left"></i>
	<span>Volver</span>
  </a>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/5de9a903-806f-4d05-a35f-4ebcc2c734da/page/za98C"  allowfullscreen></iframe>
  </div>

<%- include('../partials/footer.html') %>