<%- include('../partials/header.html') %>
<a href="javascript:history.back()">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <span>Volver</span>
  </a>
 

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/9c474e82-eafe-4c2c-8759-04e486e03a3a/page/Ns87C"  allowfullscreen></iframe>
  </div>

  


<%- include('../partials/footer.html') %>