<%- include('../partials/header.html') %>
<a href="javascript:history.back()">
	<i class="fa-sharp fa-solid fa-arrow-left"></i>
	<span>Volver</span>
  </a>
 
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/044e25ad-1ae8-444e-b43c-53b28b621e7e/page/uZ18C"  allowfullscreen></iframe>
  </div>

<%- include('../partials/footer.html') %>

