

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Teledisca Reporting Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
	<link rel="stylesheet" href="./vendor/chartist/css/chartist.min.css">
    <link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="./vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js-global/FancyZoom.js" type="text/javascript"></script>
<script src="./js-global/FancyZoomHTML.js" type="text/javascript"></script>
<script src="../../public/js-global/FancyZoom.js" type="text/javascript"></script>
<script src="../../public/js-global/FancyZoomHTML.js" type="text/javascript"></script>

<script src="./resources/js/main.js" type="text/javascript"></script>
<script src="./resources/js/medium-zoom.min.js" type="text/javascript"></script>
<script src="../../public/js/medium-zoom.min.js"></script>
<script src="../../public/js/main.js"></script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="node_modules/medium-zoom/dist/medium-zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js" integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>tablas</title>

    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
rel="stylesheet"
/>
<link
href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
rel="stylesheet"
/>
<link
href=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
rel="stylesheet"
/>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">
</script>
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js">
</script>
</head>

<style>
  
  .form-rounded {
border-radius: 1rem;
}

.descargasreportes{
      background-color: #31353d;
    color: #fff;
    font-size: 17px;
    font-weight: 500;

    }
    .linkdescarga{
      color: #fff;
    font-size: 20px;
    font-weight: 600;
    }

</style>

<% if(usuario.rol == 'azteca') {%>
  <style>
    .fondito{
      background-image: url(/resources/images/fondo_azteca.jpg) !important ;
    }

 
  </style>
  <%}%>
	

    <div class="page-wrapper chiller-theme toggled fondito" >
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
         
              <img src="resources/images/logo-teledisca.png" alt="" style="width: 100%;">
            
            <div class="sidebar-brand">
              <a href="#">Teledisca Reporting</a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
             
              <div class="user-info">
                <span class="user-name">
                  <strong><p><%=usuario.name%></p>
                    <p></p></strong>
                </span>
                <span class="user-role"><%=usuario.rol%></span>
                
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>
            </div>
            <!-- sidebar-header  -->
            
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                <li class="sidebar">
                  <a href="/">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>HOME</span>
                  </a>
                 
                </li>

                <li>
                  <a href="/logout">
                    <i class="fa fa-power-off"></i>
                Cerrar Sesion  </a>
                </li>
               
              
              <!--      <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="/facebookDetalles">Facebook</a>
                      </li>
                      <li>
                        <a href="#">Correo</a>
                      </li>
                      <li>
                        <a href="#">CSE Contact</a>
                      </li>
                      <li>
                        <a href="#">Contact Center</a>
                      </li>
                      <li>
                        <a href="#">Service Manager</a>
                      </li>
                      <li>
                        <a href="#">Noc Servicio</a>
                      </li>
                      <li>
                        <a href="#">PQR</a>
                      </li>
                    </ul>
                  </div>
                </li>
             
               <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span> </span>
                    <span class="badge badge-pill badge-primary">Beta</span>
                  </a>
                </li>-->
              
              </ul>
            </div>
            <!-- sidebar-menu  -->
            
           </div>
          
          <!-- sidebar-content  -->
   
          
          <div class="sidebar-footer " style="    justify-content: center;">
            <% if(usuario.rol == 'admin') {%>
              <img src="resources/images/logo-teledisca.png" alt="" style="width: 50%;">

              </style>
              <%}%>

              <% if(usuario.rol == 'azteca') {%>
                <img src="resources/images/Logo-Azteca.png" alt="" style="width:35%;">
  
                </style>
                <%}%>
                <% if(usuario.rol == 'allianz') {%>
                  <img src="resources/images/Allianz-03.png" alt="" style="width: 50%;">
    
                  </style>
                  <%}%>

            
            
          </div>
        </nav>

    <body onLoad="setupZoom()" >
        
    
        <main class="page-content fondito">
          