<%- include('./partials/header.html') %>
<style>
	.btn-card {
background-color: #28a9e1; /* Green */
border: none;
color: white;
padding: 5px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 20px;
}
.titulo-canales{
	font-size: 20px;
	font-weight: 600;

}
.card-img-top{
	width:65% !important;
}
</style>
<a href="javascript:history.back()">
	<i class="fa-sharp fa-solid fa-arrow-left"></i>
	<span>Volver</span>
  </a>
  <% if (usuario.rol=='admin' ) {%> 
<div class=" mx-auto mt-4" >
	<div class="row" >







	  <div class="col-md-4">  <!--ContacCenter-->



		<div class="" style="width: 18rem; text-align:center;"> <!--ContacCenter-->
			<img src="resources/images/Recurso6.png" class="card-img-top" alt="...">
			<div class="card-body">
				  <h6 class="card-subtitle mb-2 text-muted"></h6>
			  <p class="titulo-canales">Contact Center</p>
			  <a href="/graficascontactcenter" class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
			  <a href="/contactcenterreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
			</div>
		</div>
		
	  </div>  
	  
	  


	  <div class="col-md-4"> <!--CSEContac-->

								
		<div class="" style="width: 18rem; text-align:center;">
			<img src="resources/images/Recurso5.png" class="card-img-top" alt="...">
			<div class="card-body">
				  <h6 class="card-subtitle mb-2 text-muted"></h6>
			  <p class="titulo-canales">CSE Contact</p>
			  <a href="/graficascsecontact"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
			  <a href="/csecontactreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
			</div>
		</div>





	</div> 
							
	  

	<div class="col-md-4">  <!--CSE Correo-->

								
		<div class="" style="width: 18rem; text-align:center;">
			<img src="resources/images/Recurso7.png" class="card-img-top" alt="...">
			<div class="card-body">
				  <h6 class="card-subtitle mb-2 text-muted"></h6>
			  <p class="titulo-canales">CSE Correo</p>
			  <a href="/graficascsecorreo"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
			  <a href="/csecorreoreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
			</div>
		</div>





	</div> 

	  
       </div>
	</div>
	
	<div class=" mx-auto mt-4">
		<div class="row">


			<div class="col-md-3"> <!--Facebook-->

								
				<div class="" style="width: 18rem; text-align:center;">
					<img src="resources/images/Recurso4.png" class="card-img-top" alt="...">
					<div class="card-body">
						  <h6 class="card-subtitle mb-2 text-muted"></h6>	
					  <p class="titulo-canales">Facebook</p>
					  <a href="/graficasfacebook"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
					  <a href="/facebookreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
					</div>
				</div>
		
		
		
		
		
			</div> 



			<div class="col-md-3"> <!--NOC-->

								
				<div class="" style="width: 18rem; text-align:center;">
					<img src="resources/images/Recurso3.png" class="card-img-top" alt="...">
					<div class="card-body">
						  <h6 class="card-subtitle mb-2 text-muted"></h6>
					  <p class="titulo-canales">NOC de servicios</p>
					  <a href="/graficasnoc"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
					  <a href="/nocreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
					</div>
				</div>
		
		
		
		
		
			</div> 





			<div class="col-md-3"> <!--Service Manager-->

								
				<div class="" style="width: 18rem; text-align:center;">
					<img src="resources/images/Recurso1.png" class="card-img-top" alt="...">
					<div class="card-body">
						  <h6 class="card-subtitle mb-2 text-muted"></h6>
					  <p class="titulo-canales">Service Manager</p>
					  <a href="/graficassm"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
					  <a href="/smreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
					</div>
				</div>
		
		
		
		
		
			</div> 


	


			<div class="col-md-3">  <!--PQR-->

								
				<div class="" style="width: 18rem; text-align:center;">
					<img src="resources/images/Recurso2.png" class="card-img-top" alt="...">
					<div class="card-body">
						  <h6 class="card-subtitle mb-2 text-muted"></h6>
					  <p class="titulo-canales">PQR</p>
					  <a href="/graficaspqr"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
					  <a href="/pqrreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
					</div>
				</div>
		
		
		
		
		
			</div> 








		  
		   </div>
		</div>

		<% } %>




		<% if (usuario.rol=='azteca' && usuario.sub_rol==1) {%> 
			
			<div class=" mx-auto mt-4">
				<div class="row">
			
			
			
			
			
			
			
				  <div class="col-md-3">  <!--ContacCenter-->
			
			
			
					<div class="" style="width: 18rem; text-align:center;"> <!--ContacCenter-->
						<img src="resources/images/Recurso6.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Contact Center</p>
						  <a href="/graficascontactcenter" class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/contactcenterreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
					
				  </div>  
				  
				  
			
			
				  <div class="col-md-3"> <!--CSEContac-->
			
											
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso5.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">CSE Contact</p>
						  <a href="/graficascsecontact"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/csecontactreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 
										
				  
			
				<div class="col-md-3">  <!--CSE Correo-->
			
											
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso7.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">CSE Correo</p>
						  <a href="/graficascsecorreo"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/csecorreoreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 

				<div class="col-md-3"> <!--Facebook-->

								
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso4.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Facebook</p>
						  <a href="/graficasfacebook"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/facebookreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 
			
				  
				   </div>
				</div>
				<% } %>
		
		<% if (usuario.rol=='azteca' && usuario.sub_rol==2) {%> 
			
			<div class=" mx-auto mt-4">
				<div class="row">
			
			
			
			
			
			
			
				  <div class="col-md-3">  <!--ContacCenter-->
			
			
			
					<div class="" style="width: 18rem; text-align:center;"> <!--ContacCenter-->
						<img src="resources/images/Recurso6.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Contact Center</p>
						  <a href="/graficascontactcenter" class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/contactcenterreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
					
				  </div>  
				  
				  
			
			
				  <div class="col-md-3"> <!--CSEContac-->
			
											
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso5.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">CSE Contact</p>
						  <a href="/graficascsecontact"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/csecontactreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 
										
				  
			
				<div class="col-md-3">  <!--CSE Correo-->
			
											
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso7.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">CSE Correo</p>
						  <a href="/graficascsecorreo"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/csecorreoreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 

				<div class="col-md-3"> <!--Facebook-->

								
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso4.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Facebook</p>
						  <a href="/graficasfacebook"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/facebookreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 
			
				  
				   </div>
				</div>

				<div class=" mx-auto mt-4">
					<div class="row">
			
			
						<div class="col-md-3">  <!--PQR-->
							
							<div class="" style="width: 18rem; text-align:center;">
								<img src="resources/images/Recurso2.png" class="card-img-top" alt="...">
								<div class="card-body">
									  <h6 class="card-subtitle mb-2 text-muted"></h6>
								  <p class="titulo-canales">PQR</p>
								  <a href="/graficaspqr"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
								  <a href="/pqrreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
								</div>
							</div>
				
						</div> 
			
					   </div>
					</div>
					<% } %>
		<% if (usuario.rol=='azteca' && usuario.sub_rol==3) {%> 
			
			
				<div class=" mx-auto mt-4">
					<div class="row">
			
			
						<div class="col-md-3">  <!--PQR-->
							
							<div class="" style="width: 18rem; text-align:center;">
								<img src="resources/images/Recurso2.png" class="card-img-top" alt="...">
								<div class="card-body">
									  <h6 class="card-subtitle mb-2 text-muted"></h6>
								  <p class="titulo-canales">PQR</p>
								  <a href="/graficaspqr"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
								  <a href="/pqrreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
								</div>
							</div>
				
						</div> 
			
					   </div>
					</div>
					<% } %>
		<% if (usuario.rol=='azteca' && usuario.sub_rol==4) {%> 
			
			
			<div class=" mx-auto mt-4">
				<div class="row">
		
		
					<div class="col-md-3"> <!--NOC-->

								
						<div class="" style="width: 18rem; text-align:center;">
							<img src="resources/images/Recurso3.png" class="card-img-top" alt="...">
							<div class="card-body">
								  <h6 class="card-subtitle mb-2 text-muted"></h6>
							  <p class="titulo-canales">NOC de servicios</p>
							  <a href="/graficasnoc"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
							  <a href="/nocreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
							</div>
						</div>
				
				
				
				
				
					</div> 
		
				</div>
			</div> 
			<% } %>
	<% if (usuario.rol=='azteca' && usuario.sub_rol==5) {%> 
			
			
		<div class=" mx-auto mt-4">
			<div class="row">
	
	
				<div class="col-md-3"> <!--Service Manager-->

								
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso1.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Service Manager</p>
						  <a href="/graficassm"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/smreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			

				</div> 
	
			</div>
		</div> 
		<% } %>



		<% if (usuario.rol=='azteca' && usuario.sub_rol==7) {%> 
			
			<div class=" mx-auto mt-4">
				<div class="row">
			
			
			
			
			
			
			
				  <div class="col-md-3">  <!--ContacCenter-->
			
			
			
					<div class="" style="width: 18rem; text-align:center;"> <!--ContacCenter-->
						<img src="resources/images/Recurso6.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Contact Center</p>
						  <a href="/graficascontactcenter" class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/contactcenterreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
					
				  </div>  
				  
				  
			
			
				  <div class="col-md-3"> <!--CSEContac-->
			
											
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso5.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">CSE Contact</p>
						  <a href="/graficascsecontact"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/csecontactreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 
										
				  
			
				<div class="col-md-3">  <!--CSE Correo-->
			
											
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso7.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">CSE Correo</p>
						  <a href="/graficascsecorreo"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/csecorreoreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 

				<div class="col-md-3"> <!--Facebook-->

								
					<div class="" style="width: 18rem; text-align:center;">
						<img src="resources/images/Recurso4.png" class="card-img-top" alt="...">
						<div class="card-body">
							  <h6 class="card-subtitle mb-2 text-muted"></h6>
						  <p class="titulo-canales">Facebook</p>
						  <a href="/graficasfacebook"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
						  <a href="/facebookreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
						</div>
					</div>
			
			
			
			
			
				</div> 
			
				  
				   </div>

				   

				</div>

				<div class=" mx-auto mt-4">
					<div class="row">
			
			
						<div class="col-md-3">  <!--PQR-->
							
							<div class="" style="width: 18rem; text-align:center;">
								<img src="resources/images/Recurso2.png" class="card-img-top" alt="...">
								<div class="card-body">
									  <h6 class="card-subtitle mb-2 text-muted"></h6>
								  <p class="titulo-canales">PQR</p>
								  <a href="/graficaspqr"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
								  <a href="/pqrreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
								</div>
							</div>
				
						</div> 

						<div class="col-md-3"> <!--Service Manager-->

								
							<div class="" style="width: 18rem; text-align:center;">
								<img src="resources/images/Recurso1.png" class="card-img-top" alt="...">
								<div class="card-body">
									  <h6 class="card-subtitle mb-2 text-muted"></h6>
								  <p class="titulo-canales">Service Manager</p>
								  <a href="/graficassm"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
								  <a href="/smreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
								</div>
							</div>
					
		
						</div> 

						<div class="col-md-3"> <!--NOC-->

								
							<div class="" style="width: 18rem; text-align:center;">
								<img src="resources/images/Recurso3.png" class="card-img-top" alt="...">
								<div class="card-body">
									  <h6 class="card-subtitle mb-2 text-muted"></h6>
								  <p class="titulo-canales">NOC de servicios</p>
								  <a href="/graficasnoc"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
								  <a href="/nocreclamos" class="btn-card mt-2"> Gestión reclamos</a>			
								</div>
							</div>
					
					
					
					
					
						</div> 
			
					   </div>
					</div>
					<% } %>









<style>
	:root {
  --gradient: linear-gradient(to left top, #f8e7ef 10%, #e9d3ce 90%) !important;
}


.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
</style>










  <%- include('./partials/footer.html') %>
