<%- include('./partials/header.html') %>
<style>
	.btn-card {
background-color: #28a9e1; /* Green */
border: none;
color: white;
padding: 5px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 20px;
}
</style>

  
<div class="container mx-auto mt-4">
	<div class="row">
		
	  <div class="col-md-4">
		<% if (usuario.rol=='azteca' || usuario.rol==='admin') {%> 
		<div class="" style="width: 18rem; text-align:center;">
	<img src="resources/images/Recurso1.png" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">Reportes Azteca</h5>
		  <h6 class="card-subtitle mb-2 text-muted"></h6>
	  <p class="card-text"></p>
		 <a href="/chanel" class="btn-card mr-2"> Ir a Sitio</a>
	
	</div>
	</div>

	<% }%>


	<% if (usuario.rol=='allianz' || usuario.rol==='admin') {%> 
		<div class="" style="width: 18rem; text-align:center;">
	<img src="resources/images/Recurso1.png" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">Reportes Allianz</h5>
		  <h6 class="card-subtitle mb-2 text-muted"></h6>
	  <p class="card-text"></p>
		 <a href="/allianzreportes" class="btn-card mr-2"> Ir a Sitio</a>
	
	</div>
	</div>

	<% }%>
	  </div>    
		 <div class="col-md-4">

			<% if (usuario.rol==="teledisca" || usuario.rol==='admin') {%> 

				<div class="" style="width: 18rem; text-align:center;">
					<img src="resources/images/Recurso1.png" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Reportes Teledisca</h5>
						  <h6 class="card-subtitle mb-2 text-muted"></h6>
					  <p class="card-text"></p>
						 <a href="/telediscareportes" class="btn-card mr-2"> Ir a Sitio</a>
					
					</div>
					</div>



	<% }%>
		
	  </div>    
			<div class="col-md-4">
				<% if (usuario.rol!='azteca' &&  usuario.rol!='allianz') {%> 
  
	<% }%>
	          </div>
	  
       </div>
	</div>

<style>
	:root {
  --gradient: linear-gradient(to left top, #f8e7ef 10%, #e9d3ce 90%) !important;
}


.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
</style>
  <%- include('./partials/footer.html') %>
