


<!--
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="resources/css/style.css">
</head>
<body>



	<div class="container " style="padding-top: 50px;" >
	

	<div class="login-form">
		<div>
			<div class="col" style="display: flex;">
				<img src="resources/img/logo-teledisca.png"  alt="" style="width:126px;">
				<hr>
				<img src="resources/img/Logo-azteca.png" width="60%" height="50%" alt="" style="margin-top:6px;">
			</div>
			<div class="col">
				
			</div>
		</div>
		<form action="auth" method="POST">
			<input type="text" name="user" placeholder="User" autofocus required>
			<input type="password" name="pass" placeholder="Password" required>
			<input type="submit" class="btn-login" value="Login">
		</form>
		<a href="register" class="btn-register">Register</a>
		
		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <% if (typeof alert != "undefined")  { %>
    <script>
    Swal.fire({
      title:'<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>
    }).then(()=>{
      window.location='/<%= ruta %>'
    })
    </script>
  <% } %>
	</div>

    </div>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Teledisca Reporting</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->	


<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/vendor1/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/vendor1/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="resources/vendor1/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/vendor1/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/vendor1/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="resources/vendor1/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="resources/css/util.css">
	<link rel="stylesheet" type="text/css" href="resources/css/main.css">

<!--===============================================================================================-->
</head>


	<body style="background-image: url('resources/images/login-interfaz.jpg'); background-repeat: no-repeat!important;
    background-size: cover !important;">
		
		<div class="row" style="justify-content: end;">
			
			<form action="auth" method="POST" class="login100-form validate-form" >
				<span class="login100-form-title p-b-43">
					Portal de Acceso
				</span>
				
				
				<div class="wrap-input100 validate-input" data-validate = "Valid Usuario is required: ex@abc.xyz">
					<input class="input100" type="text" name="user">
					<span class="focus-input100"></span>
					
					<span class="label-input100">Usuario</span>
				</div>
				
				
				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<input class="input100" type="password" name="pass">
					<span class="focus-input100"></span>
					<span class="label-input100">Contraseña</span>
				</div>

				<div class="flex-sb-m w-full p-t-3 p-b-32">
					<div class="contact100-form-checkbox">
						
					</div>

				
				</div>
		

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Acceder
					</button>
				</div>
				
				<div class="text-center p-t-46 p-b-20">
					<span class="txt2">
					</span>
				</div>

				<div class="login100-form-social flex-c-m">
					<img src="resources/images/imagen1.png"  alt="">

				</div>
			</form>
		</div>
	</body>


<!--
<body style="background-color: #d61010;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="auth" method="POST" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Portal de Acceso
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="user">
						<span class="focus-input100"></span>
						
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

					
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						
					</div>
				</form>

				<div class="login100-more" style="background-image: url('resources/images/login-interfaz.jpg');">
				</div>
			</div>
		</div>
	</div>
-->
		

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
 <script>
 Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
   window.location='/<%= ruta %>'
 })
 </script>
<% } %>

	
