<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Register</title>
</head>
<body>

  <% if (usuario.rol=='admin' ) {%> 

    <div class="register-form">
		<h1>Form Registration</h1>
		<form action="/register" method="POST">
            <label for="user">Usuario</label>
                <input type="text" name="user" required tabindex="1" autofocus>            
            <label for="user">Nombre Completo</label>
                <input type="text" name="name" required tabindex="2">
                <label for="user">Correo</label>
                <input type="text" name="email" required tabindex="2.1" >
            
            <label for="rol">Rol</label>                          
            <select id="rol" name="rol" class="select-css" tabindex="3">
                <option value="admin">admin</option> 
                <option value="teledisca">Teledisca</option> 
                <option value="azteca">azteca</option> 
                <option value="allianz">allianz</option>                    
            </select>
             <br>
               
            <label for="rol">Sub Rol</label>                          
            <select id="rol" name="sub_rol" class="select-css" tabindex="3">
                <option value="1">CSE-CSE correo-Contact y Facebook	</option> 
                <option value="2">CSE-CSE correo-Contact - Facebook - Back PQR</option>     
                <option value="3">Back PQR</option>  
                <option value="4">NOC</option>  
                <option value="5">Service Manager</option> 
                <option value="6">Editor</option>    
                <option value="7">ver todos los canales azteca</option>               
            </select>
             <br>  
            <label for="pass">Password</label>
			    <input type="password" name="pass" required tabindex="4">
            <div style="display: inline;">             
            <a href="/" class="btn-cancel">Cancel</a>
            <input type="submit" class="btn-save" value="Save">           
            </div>
		</form>		
	</div>
  <% } %>

    		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
 <script>
 Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
   window.location='/<%= ruta %>'
 })
 </script>
<% } %>
 </div>
</body>
</html>