<%- include('../partials/header.html') %>

<a href="javascript:history.back()">
	<i class="fa-sharp fa-solid fa-arrow-left"></i>
	<span>Volver</span>
  </a>





<div class="row">

  <table class="table " style="background-color:#31353d !important;">
    <thead>
      <tr>
        <th scope="col" style="color:white"># Caso</th>
        <th scope="col" style="color:white">Nota a Refurtar</th>
        <th scope="col" style="color:white">Descripcion Motivo</th>
        <th scope="col" style="color:white">Validacion Teledisca</th>
        <th scope="col" style="color:white">Descripcion de Validacion</th>
        <th scope="col" style="color:white"> Acciones </th>
      </tr>
    </thead>
    <tbody>

     <form action="/actualizarrefute/<%= datos.id%>" enctype="multipart/form-data"  method="post">
      
        <th scope="row" style="color:white" ><%= datos.id_caso %> </th>


        <td> <input type="text" readonly name="nota_a_refutar" value="<%= datos.nota_a_refutar%>" id="">  </td>


        <td> <input type="text" readonly name="descripcion_motivo" value="<%= datos.descripcion_motivo %> " id="">  </td>
        <td hidden> <input type="text"  name="creador" value="<%= datos.creador %> " id="">  </td>
        <td hidden> <input type="text"  name="id_caso" value="<%= datos.id_caso %> " id="">  </td>



            
           


        <td> 
            
            <select class="form-select form-select-sm" aria-label="" name="validacion_teledisca">
                <option value="Se levanta afectación">Se levanta afectación  </option>
                <option value="Se Mantiene afectación">Se Mantiene afectación  </option>

              
              </select>
            
            
        
        
        
        </td>

            
            
        <td> <div class="input-group">
            <textarea class="" name="descripcion_validacion" value=" " rows = "5" cols="40" maxlength="1000">
                <%= datos.descripcion_validacion %>
              
            </textarea>
          </div> 
        
        
        </td>
        <td> 
          <div class="form-group">
            <label for=""> Cargar evidencia</label>
            <input type="file" name="image2" accept='image/*' >


        </div>

        </td>
        
 

            <td> <button  class="btn btn-success" type="submit">Guardar</button> </td>


      </tr>
    </form>
    </tbody>
  </table>     
</div>
















<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>

<%- include('../partials/footer.html') %>