<%- include('../partials/header.html') %>


  


    <form action="/addfacebookform" method="POST"> 
     
       
        
      <div class="col">

                    <div class="row  align-items-end">
                        <div class="col-2">
                            <label class="label-titulos" for="">Municipio o departamento</label>
                        <input type="text" name="municipio_departamento" class="form-control" value="" >
                        </div>
                        <div class="col-2">
                            <label class="label-titulos" for="">Segmento</label>

                        
                            <select class="custom-select" name="segmento" id="inputGroupSelect02">
                            <option value="HOGARES">HOGARES</option>
                            <option value="MASIVO">MASIVO</option>
                            <option value="EMPRESAS">EMPRESAS</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label class="label-titulos" for=""># de Casos</label>
                        <input type="text" class="form-control" name="n_caso" value="" >
                        </div>

                        <div class="col-2">
                            <label class="label-titulos" for="">NIT/CEDULA</label>
                        <input type="text" class="form-control" name="nit_cedula" value="" >
                        </div>
                        <div class="col-2">
                            <label class="label-titulos" for="">CLIENTE</label>
                        <input type="text" class="form-control" name="cliente" value="" >
                        </div>

                        <div class="col-2">
                            <label class="label-titulos" for="">SER O CUS DEL SERVICIO
                            </label>
                        <input type="text" class="form-control" name="ser_o_cus_servicio" value="" >
                        </div>



                    </div>
          <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->


                    <div class="row align-items-end">


                        <div class="col-2">

                            <label class="label-titulos" for="">Fecha de caso</label> <br>
                            <input type="text" name="fecha" class="date form-control" style="width: 120px" />

                        
                        </div>
                        <div class="col-2">

                            <label class="label-titulos" for="">Motivo de caso</label>
                            <input type="text" class="form-control" name="motivo_caso" value="" >

                        </div>
                        <div class="col-2">

                            <label class="label-titulos" for="">Categoria</label>
                        <input type="text" class="form-control" name="categoria" value="" >

                        </div>
                        <div class="col-2">

                            <label class="label-titulos" for="">Sub-Categoria</label>
                            <input type="text" class="form-control" name="subcategoria" value="" >

                        </div>
                        <div class="col-2">

                            <label class="label-titulos" for="">Nombre de Auditor</label>             
                            <select class="custom-select" name="nombre_auditor" id="inputGroupSelect02">
                            <option value="PaulaHerrera">Paula Herrera</option>
                            <option value="DanielaCruz">Daniela Cruz</option>

                            
                            </select>

                        </div>
                        <div class="col-2">

                            <label class="label-titulos" for="">Angente Monitoreado</label>
                            <select class="custom-select" name="ag_monitoreado" id="">
                                <option value="LuzBarbosaBarbosa">Luz Barbosa Barbosa </option>
                            </select>

                        </div>
                        
                    
                    </div>


            <hr>
              <!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">
                        
                        <div class="col-2">
                    
                            <label class="label-titulos" for="">Fecha de Monitoreo</label> <br>
                            <input type="text" name="fecha_monitoreo" class="date form-control" style="width: 120px" />

                            <script type="text/javascript">
                                $(".date").datepicker({
                                format: "yyyy/mm/dd",
                                });
                            </script>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for="">1. Protocolos de atención y  vocación de servicio        </label>
                            <select class="custom-select" name="protocolo_aten_vocacion_servicio" id="inputGroupSelect02">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>

                            </select>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for="">Agente hace uso del protocolo de saludo establecido por la compañía    </label>
                            <select class="custom-select" name="ag_uso_prot_salud" id="inputGroupSelect02">
                                <option value="0">SI</option>
                                <option value="1">NO</option>

                            </select>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> Observacion Agente hace uso del protocolo de saludo establecido por la compañía    </label>
                            <input type="text" class="form-control" name="obs_ag_uso_prot_salud" value="" >


                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> Agente indaga nombre real del cliente      </label>
                            <select class="custom-select" name="ag_indaga_nombre_real_cliente" id="inputGroupSelect02">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> Observacion Agente indaga nombre real del cliente   </label>
                            <input type="text" class="form-control" name="obs_ag_indaga_nombre_real_cliente" value="" >

                        </div>
                        
                    </div>

          <hr>
              <!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">
                        
                        <div class="col-2">
                    
                            <label class="label-titulos" for="">Agente  se dirige al cliente por su nombre
                            </label>
                            <select class="custom-select" name="ag_dirije_cliente_nombre" id="inputGroupSelect02">
                                <option value="0">SI</option>
                                <option value="1">NO</option>

                            </select>
                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> Observacion Agente  se dirige al cliente por su nombre   </label>
                            <input type="text" class="form-control" name="obs_ag_dirije_cliente_nombre" value="" >

                            </select>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for="">Agente hace uso de los protocolos de continuidad, Inactividad y/o despedida. 
                            </label>
                            <select class="custom-select" name="ag_uso_prot_cont_inac_desp" id="inputGroupSelect02">
                                <option value="0">SI</option>
                                <option value="1">NO</option>

                            </select>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> Observacion Agente hace uso de los protocolos de continuidad, Inactividad y/o despedida. 
                            </label>
                            <input type="text" class="form-control" name="obs_ag_uso_prot_cont_inac_desp" value="" >


                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> 2. Ortografía y Redacción            </label>
                            <select class="custom-select" name="ortografia_redaccion" id="inputGroupSelect02">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>

                        </div>


                        <div class="col-2">

                            <label class="label-titulos" for=""> Agente presenta redacción correcta en la conversación           </label>
                            <select class="custom-select" name="ag_redaccion_correcta" id="inputGroupSelect02">
                                <option value="0">SI</option>
                                <option value="1">NO</option>
                            </select>

                        </div>
                        
                    </div>

         <hr>
       <!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">



                        <div class="col-2">

                            <label class="label-titulos" for=""> Observacion Agente presenta redacción correcta en la conversación    </label>
                            <input type="text" class="form-control" name="obs_ag_redaccion_correcta" value="" >
                    
                            </select>
                    
                        </div>
                    
                    <div class="col-2">

                        <label class="label-titulos" for="">Agente presenta ortografía correcta en la conversación 
                        </label>
                        <select class="custom-select" name="ag_ortografiia_correcta" id="inputGroupSelect02">
                            <option value="1">1</option>
                            <option value="2">2</option>

                        </select>
                    </div>


                    <div class="col-2">

                        <label class="label-titulos" for=""> Observacion Agente presenta ortografía correcta en la conversación  
                        </label>
                        <input type="text" class="form-control" name="obs_ag_ortografiia_correcta" value="" >


                    </div>


                    <div class="col-2">

                        <label class="label-titulos" for="">3. Estructura de la conversación  
                        </label>
                        <select class="custom-select" name="estructura_conversacion" id="inputGroupSelect02">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>

                        </select>

                    </div>


                    


                    <div class="col-2">

                        <label class="label-titulos" for=""> Orden lógico de la conversación         </label>
                        <select class="custom-select" name="orden_logico_conv" id="inputGroupSelect02">
                            <option value="0">SI</option>
                            <option value="1">NO</option>
                        </select>

                    </div>


                    <div class="col-2">

                        <label class="label-titulos" for=""> ObservacionOrden lógico de la conversación  
                        </label>
                        <input type="text" class="form-control" name="obs_orden_logico_conv" value="" >


                    </div>

                    
                    </div>



            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">



                    <div class="col-2">

                    <label class="label-titulos" for=""> 4. Actitud de Servicio y amabilidad </label>
                    <select class="custom-select" name="actitud_servicio_amabilidad" id="inputGroupSelect02">
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    
                    
                    </select>

                    </div>

                    <div class="col-2">

                    <label class="label-titulos" for="">Genera maltrato hacia el cliente
                    </label>
                    <select class="custom-select" name="genera_maltrato_cliente" id="inputGroupSelect02">
                        <option value="0">SI</option>
                        <option value="1">NO</option>

                    </select>
                    </div>


                    <div class="col-2">

                    <label class="label-titulos" for=""> Observacion Genera maltrato hacia el cliente 
                    </label>
                    <input type="text" class="form-control" name="obs_genera_maltrato_cliente" value="" >


                    </div>


                    <div class="col-2">

                    <label class="label-titulos" for="">Agente  genera empatía en la comunicación  
                    </label>
                    <select class="custom-select" name="ag_genera_empatia_comunicacion" id="inputGroupSelect02">
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>

                    </select>

                    </div>





                    <div class="col-2">

                        <label class="label-titulos" for=""> Observacion Agente  genera empatía en la comunicación  
                        </label>
                        <input type="text" class="form-control" name="obs_ag_genera_empatia_comunicacion" value="" >
                        
                        

                    </div>


                    <div class="col-2">

                        <label class="label-titulos" for="">5.  Análisis y Gestión oportuna 
                        </label>
                        <select class="custom-select" name="analisis_gestion_oportuna" id="inputGroupSelect02">
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                        
                        </select>
                    </div>


                    </div>



            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">



                    <div class="col-2">

                    <label class="label-titulos" for=""> Realiza el diagnóstico adecuado sobre la solicitud del cliente</label>
                    <select class="custom-select" name="rea_diagnostico_actitud_cliente" id="inputGroupSelect02">
                        <option value="0">SI</option>
                        <option value="1">NO</option>
                    
                    
                    </select>

                    </div>


                    <div class="col-2">

                        <label class="label-titulos" for=""> Observacion  Realiza el diagnóstico adecuado sobre la solicitud del cliente
                        </label>
                        <input type="text" class="form-control" name="obs_rea_diagnostico_actitud_cliente" value="" >
                        
                        
                        </div>
                        

                    <div class="col-2">

                    <label class="label-titulos" for="">La gestión se realizó de acuerdo a los lineamientos establecidos, según el tipo de solicitud.
                    </label>
                    <select class="custom-select" name="gest_realiz_linea_tipo_solicitud" id="inputGroupSelect02">
                        <option value="0">SI</option>
                        <option value="1">NO</option>

                    </select>
                    </div>



                    <div class="col-2">

                        <label class="label-titulos" for=""> Observacion La gestión se realizó de acuerdo a los lineamientos establecidos, según el tipo de solicitud.
                        </label>
                        <input type="text" class="form-control" name="obs_gest_realiz_linea_tipo_solicitud" value="" >
                        
                        

                    </div>





                    <div class="col-2">

                    <label class="label-titulos" for="">Agente interactúa de manera oportuna una vez el cliente nos contacta por la red social.  
                    </label>
                    <select class="custom-select" name="ag_inter_oport_contact_red_soc" id="inputGroupSelect02">
                        <option value="0">SI</option>
                        <option value="1">NO</option>

                    </select>

                    </div>





                    <div class="col-2">

                        <label class="label-titulos" for=""> Observacion Agente interactúa de manera oportuna una vez el cliente nos contacta por la red social.  
                        </label>
                        <input type="text" class="form-control" name="obs_ag_inter_oport_contact_red_soc" value="" >
                        
                        

                    </div>


                    </div>

            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">



                                    <div class="col-2">

                                    <label class="label-titulos" for=""> Manejo de tiempos de espera</label>
                                    <select class="custom-select" name="manejo_tiempo_espera" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    
                                    
                                    </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion   Manejo de tiempos de espera
                                        </label>
                                        <input type="text" class="form-control" name="obs_manejo_tiempo_espera" value="" >
                                        
                                        
                                        </div>
                                        

                                    <div class="col-2">

                                    <label class="label-titulos" for="">Entrega información completa y correcta acerca de incidencias técnicas
                                    </label>
                                    <select class="custom-select" name="entrega_inf_compl_corr_inc_tecni" id="inputGroupSelect02">
                                        <option value="1">NO</option>
                                        <option value="0">SI</option>
                                     

                                    </select>
                                    </div>



                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion Entrega información completa y correcta acerca de incidencias técnicas
                                        </label>
                                        <input type="text" class="form-control" name="obs_entrega_inf_compl_corr_inc_tecni" value="" >
                                        
                                        

                                    </div>





                                    <div class="col-2">

                                    <label class="label-titulos" for="">Entrega información completa y correcta acerca de productos   
                                    </label>
                                    <select class="custom-select" name="entrega_inf_comp_corr_productos" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>

                                    </select>

                                    </div>





                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion Entrega información completa y correcta acerca de productos 
                                        </label>
                                        <input type="text" class="form-control" name="obs_entrega_inf_comp_corr_productos" value="" >
                                        
                                        

                                    </div>


                    </div>


            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">



                                    <div class="col-2">

                                            <label class="label-titulos" for=""> 6. Uso de la herramienta /sistema de información</label>
                                                <select class="custom-select" name="uso_herr_sistem_informacion" id="inputGroupSelect02">

                                                    <option value="SI">SI</option>
                                                    <option value="NO">NO</option>                            
                                                
                                                </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for="">  Manejo de aplicativos (Buscador, ST, Salesforce, Comisionamiento, SCA)
                                        </label>
                                        <select class="custom-select" name="manejo_app_bus_st_sales" id="inputGroupSelect02">
                                                <option value="0">SI</option>
                                                <option value="1">NO</option>

                                        </select>
                                        
                                        
                                        </div>
                                        

                                    

                                        <div class="col-2">

                                            <label class="label-titulos" for="">  OBSERVCIÓN - Manejo de aplicativos (Buscador, ST, Salesforce, Comisionamiento, SCA)
                                            </label>
                                            <input type="text" class="form-control" name="obs_manejo_app_bus_st_sales" value="" >
                                            
                                            
                        
                                        </div>


                                        <div class="col-2">

                                            <label class="label-titulos" for=""> Agente  crea TK de manera correcta
                                            </label>
                                            <select class="custom-select" name="ag_crea_tk_correcto" id="inputGroupSelect02">
                                                <option value="0">SI</option>
                                                <option value="1">NO</option>
                                            </select>
                                            
                                            </div>





                                            <div class="col-2">

                                                <label class="label-titulos" for="">  OBSERVCIÓN Agente  crea TK de manera correcta
                                                </label>
                                                <input type="text" class="form-control" name="obs_ag_crea_tk_correcto" value="" >
                                                
                                                
                            
                                            </div>





                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Adjunta soporte / Documentación
                                        </label>
                                        <select class="custom-select" name="adjunta_soporte" id="inputGroupSelect02">
                                            <option value="0">SI</option>
                                            <option value="1">NO</option>                    
                                        
                                        </select>
                                    </div>


                    </div>

            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">




                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion   Adjunta soporte / Documentación
                                        </label>
                                        <input type="text" class="form-control" name="obs_adjunta_soporte" value="" >
                                        
                                        
                                        </div>
                            

                                    <div class="col-2">

                                    <label class="label-titulos" for=""> Agente  realiza correctamente el escalamiento al área indicada</label>
                                    <select class="custom-select" name="escalamiento_area_indicada" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    
                                    
                                    </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Agente  realiza correctamente el escalamiento al área indicada
                                        </label>
                                        <input type="text" class="form-control" name="obs_escalamiento_area_indicada" value="" >
                                        
                                        

                                    </div>

                                    <div class="col-2">

                                    <label class="label-titulos" for=""> Informa número de Ticket
                                    </label>
                                    <select class="custom-select" name="informa_n_tk" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>

                                    </select>
                                    </div>



                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Informa número de Ticket
                                        </label>
                                        <input type="text" class="form-control" name="obs_informa_n_tk" value="" >
                                        
                                        

                                    </div>





                                    <div class="col-2">

                                        <label class="label-titulos" for=""> 7. Respeto por la compañía
                                        </label>
                                        <select class="custom-select" name="respeto_compania" id="inputGroupSelect02">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                        
                                        </select>                    
                                        

                                    </div>


                    </div>

            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">





                                    <div class="col-2">

                                    <label class="label-titulos" for=""> Agente  resalta el prestigio de la compañía</label>
                                    <select class="custom-select" name="ag_resalta_prest_comp" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    
                                    
                                    </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion Agente  resalta el prestigio de la compañía
                                        </label>
                                        <input type="text" class="form-control" name="obs_ag_reslta_prest_comp" value="" >
                                        
                                        

                                    </div>

                                    <div class="col-2">

                                    <label class="label-titulos" for=""> Agente no incita a cancelar el servicio
                                    </label>
                                    <select class="custom-select" name="ag_ino_inc_canc_serv" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>

                                    </select>
                                    </div>

                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion Agente no incita a cancelar el servicio
                                        </label>
                                        <input type="text" class="form-control" name="obs_ag_no_inc_canc_serv" value="" >
                                        
                                        

                                    </div>

                                    <div class="col-2">

                                        <label class="label-titulos" for=""> 8. Manejo adecuado de la plataforma
                                        </label>
                                        <select class="custom-select" name="manejo_adec_plat" id="inputGroupSelect02">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                        
                                        </select>   
                                        
                                        

                                    </div>





                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Agente hace uso correcto del canal  
                                        </label>
                                        <select class="custom-select" name="ag_uso_correct_canal" id="inputGroupSelect02">
                                            <option value="0">SI</option>
                                        <option value="1">NO</option>
                        
                                        </select>                    
                                        

                                    </div>

                                    
                                


                    </div>
            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">


                                        <div class="col-2">

                                            <label class="label-titulos" for=""> Observacion  Agente hace uso correcto del canal  
                                            </label>
                                            <input type="text" class="form-control" name="obs_ag_uso_correct_canal" value="" >
                                            
                                            
                                            </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> 9. Confirmación de datos 
                                        </label>
                                        <select class="custom-select" name="confirmacion_datos" id="inputGroupSelect02">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        
                                        
                                        </select>
                                        
                                        
                                        </div>
                            

                                    <div class="col-2">

                                    <label class="label-titulos" for="">Agente realiza proceso correcto de confirmación de datos </label>
                                    <select class="custom-select" name="ag_proces_conf_datos" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    
                                    
                                    </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Agente realiza proceso correcto de confirmación de datos 
                                        </label>
                                        <input type="text" class="form-control" name="obs_ag_proces_conf_datos" value="" >
                                        
                                        

                                    </div>

                                


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> 10. Fecha de creación del TK
                                        </label>
                                        <select class="custom-select" name="fecha_cracion_tk" id="inputGroupSelect02">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                
                                        </select>                      
                                        

                                    </div>


                                            
                        <div class="col-2">

                            <label class="label-titulos" for=""> Agente crea el tk con una fecha correcta 
                            </label>
                            <select class="custom-select" name="ag_crea_tk_fecha_correct" id="inputGroupSelect02">
                                <option value="0">SI</option>
                                <option value="1">NO</option>

                            </select>                    
                            

                        </div>




                    </div>



            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">

                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Agente crea el tk con una fecha correcta 
                                        </label>
                                        <input type="text" class="form-control" name="obs_ag_crea_fecha_correcta" value="" >
                                        
                                        
                                        </div>



                                    
                                    <div class="col-2">

                                        <label class="label-titulos" for=""> ¿SE BRINDÓ SOLUCIÓN?
                                        </label>
                                        <select class="custom-select" name="brindo_solucion" id="inputGroupSelect02">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>

                                        </select>                    
                                        

                                    </div>
                                                

                                    <div class="col-2">

                                        <label class="label-titulos" for=""> El agente no brindó respuesta adecuada
                                        </label>
                                        <select class="custom-select" name="ag_brindo_resp_adecuada" id="inputGroupSelect02">
                                            <option value="0">SI</option>
                                            <option value="1">NO</option>
                                        
                                        
                                        </select>
                                        
                                        
                                        </div>
                            
                                        <div class="col-2">

                                            <label class="label-titulos" for=""> Observacion  El agente no brindó respuesta adecuada
                                            </label>
                                            <input type="text" class="form-control" name="obs_ag_brindo_resp_adecuada" value="" >
                                            
                                            
                        
                                        </div>



                                    <div class="col-2">

                                    <label class="label-titulos" for="">Por limitación en los lineamientos </label>
                                    <select class="custom-select" name="limitaciones_lineamientos" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    
                                    
                                    </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Por limitación en los lineamientos 
                                        </label>
                                        <input type="text" class="form-control" name="obs_limitaciones_lineamientos" value="" >
                                        
                                        

                                    </div>











                    </div>


            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">




                                        
                                        <div class="col-2">

                                            <label class="label-titulos" for=""> Se requiere escalar para la respectiva investigación
                                            </label>
                                            <select class="custom-select" name="escala_investigacion" id="inputGroupSelect02">
                                                <option value="0">SI</option>
                                                <option value="1">NO</option>

                                            </select>                    
                                            

                                        </div>
                                

                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Se requiere escalar para la respectiva investigación
                                        </label>
                                        <input type="text" class="form-control" name="obs_escala_investigacion" value="" >
                                        
                                        
                                        </div>



                                    

                                    <div class="col-2">

                                        <label class="label-titulos" for=""> No existe proceso establecido en las herramientas de consulta
                                        </label>
                                        <select class="custom-select" name="no_existe_proceso_herramienta" id="inputGroupSelect02">
                                            <option value="0">SI</option>
                                            <option value="1">NO</option>
                                        
                                        
                                        </select>
                                        
                                        
                                        </div>
                            
                                        <div class="col-2">

                                            <label class="label-titulos" for=""> Observacion  No existe proceso establecido en las herramientas de consulta
                                            </label>
                                            <input type="text" class="form-control" name="obs_no_existe_proceso_herramienta" value="" >
                                            
                                            
                        
                                        </div>



                                    <div class="col-2">

                                    <label class="label-titulos" for="">Existen procedimientos/políticas poco claras y/o contradictorias</label>
                                    <select class="custom-select" name="proc_politica_contradic" id="inputGroupSelect02">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    
                                    
                                    </select>

                                    </div>


                                    <div class="col-2">

                                        <label class="label-titulos" for=""> Observacion  Existen procedimientos/políticas poco claras y/o contradictorias
                                        </label>
                                        <input type="text" class="form-control" name="obs_proc_politica_contradic" value="" >
                                        
                                        

                                    </div>











                    </div>



            <hr>
<!--///////////////////////////////////SEPARACION DE FILAS////////////////////////////////////////////////////////-->

                    <div class="row align-items-end">




                    
                    <div class="col-2">

                        <label class="label-titulos" for=""> El Usuario final no entrega la Información necesaria
                        </label>
                        <select class="custom-select" name="user_final_no_informacion" id="inputGroupSelect02">
                            <option value="0">SI</option>
                            <option value="1">NO</option>

                        </select>                    
                        

                    </div>
              

                <div class="col-2">

                    <label class="label-titulos" for=""> Observacion  El Usuario final no entrega la Información necesaria
                    </label>
                    <input type="text" class="form-control" name="obs_user_final_no_informacion" value="" >
                    
                    
                    </div>



                

                    <div class="col-2">

                        <label class="label-titulos" for=""> OBSERVACIONES GENERALES
                        </label>
                        <input type="text" class="form-control" name="observaciones_generales" value="" >
                        
                        
                        </div>

                        <div class="col-2">
                            <label class="label-titulos" for="">Canal</label>
                            <select class="custom-select" name="canal" id="inputGroupSelect02">
                                <option value="FACEBOOK">FACEBOOK</option>
                              
    
                            </select> 
                    
                    
                    </div>
        
              












      </div>         
               
       
 




       
        <br> <br><br><br>

    <div>
        <input type="submit" class="btn btn-info" value="Guardar">
    </div>
        
        

      </form>

      
      		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
 <script>
 Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
 
 })
 </script>
<% } %>

  <%- include('../partials/footer.html') %>
