<%- include('../partials/header.html') %>





 

 


















<%- include('../partials/footer.html') %>



    
<script>
  
    
       
  
</script>

<script>

 /*
 data.forEach((dato1)=> {
console.log(dato1);
 })*/

 
 /*


  const ctx = document.getElementById('myChart1');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['ENC','EC_UF','EC_NEG','EC_CUM'],
          datasets: [{
              label: 'Porcentaje de error',
              data: [promedioENC, promedioEC_UF, promedioEC_NEG, promedioEC_CUM],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  
              ],
              borderWidth: 3
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          ticks: {
        min: 0,
        max: 6500,
        stepSize: 20
      },
      yAxes: [{
      barPercentage: 0.5,
      gridLines: {
        display: true
      }
    }],
      }
  });
 
  const cty = document.getElementById('myChart');


const myChart1 = new Chart(cty, {
    type: 'pie',
    data: {
         labels: ['Empresas '+((contEmpresas/totalSegmento)*100)+'%','Hogares '+((contHogares/totalSegmento)*100)+'%','Masivo '+((contMasivo/totalSegmento)*100)+'%'],

       // labels: ['Empresas'+((contEmpresas/totalSegmento)*100)+'%','Hogares','Masivo'],
        datasets: [{
            label: 'tabla de titulos',
            data: [contEmpresas, contHogares, contMasivo],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
           
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
              
            ],
            borderWidth: 3
        }]
    },
    options: {
      
        ticks: {
      min: 0,
      max: 6500,
      stepSize: 10
    },
    yAxes: [{
    barPercentage: 0.5,
    gridLines: {
      display: true
    }
  }],
    }
});


const ctz = document.getElementById('myChart2');


const myChart2 = new Chart(ctz, {
    type: 'radar',
    data: {
        labels: ['titulo2','titulo2','titulo3','titulo4','titulo5','titulo6'],
        datasets: [{
            label: 'tabla de titulos',
            data: [4, 1, 3, 3, 2, 18],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        ticks: {
      min: 0,
      max: 6500,
      stepSize: 10
    },
    yAxes: [{
    barPercentage: 0.5,
    gridLines: {
      display: true
    }
  }],
    }
});



 */
 
 
 </script>

<script type="text/javascript">
  $(".date").datepicker({
  format: "yyyy/mm/dd",
  });
</script>