<%- include('../partials/header.html') %>
<a href="javascript:history.back()">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <span>Volver</span>
  </a>
 


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/14dcf4b8-d5c3-4fa6-8bb6-16be379b85c7/page/8Fk2C"  allowfullscreen></iframe>
  </div>
<!-- 
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/8758316e-d160-4adb-8daf-7548741b4f4a/page/Gj42C"  allowfullscreen></iframe>
  </div>
-->

<div class="row descargasreportes" >
  <div class="col"><a class="linkdescarga" href="/descargarcsvfacebook">Descargar Reporte Completo</a></div>

  <div class="col">



<form action="/descargarcsvporfechafacebook" method="post">

    <div class="row">
     <label for="" class="linkdescarga"> Descargar por rango de fechas</label>
      <div class="col">
        <label class="label-titulos" for="">Fecha inicial</label> <br>
        <input type="text" name="fecha1" class="date form-control" style="width: 120px" />

      </div>
      <div class="col">
        <label class="label-titulos" for="" >Fecha fecha final</label> <br>
        <input type="text" name="fecha2" class="date form-control" style="width: 120px" />
      </div>

      <button type="submit" class="buttonDescargar" onclick="return confirm('estas seguro que las fechas son correctas?')" >Descargar</button>
    </div>

  </form>

     

  </div>
  
</div>

<style>
  .buttonDescargar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%;
}
</style>


<%- include('../partials/footer.html') %>
