<%- include('../partials/header.html') %>

<a href="javascript:history.back()">
	<i class="fa-sharp fa-solid fa-arrow-left"></i>
	<span>Volver</span>
  </a>


  <%- include('../partials/mensaje.html') %>

  
<div class="row">
    <div class="col-4" style="text-align: -webkit-center !important;">
      
        <div class="card text-center" style="width: 20rem; background-color:#212529 !important;">
            
            <form action="/facebookreclamosupdate" method="get"  >
              <h5 style="color:white">
                Buscador de números de caso
             </h5>
               
                <input type="text" name="id" id="" required> <br> <br>
                
                <button class="btn btn-success" type="submit">Buscar</button> <br><br>

            </form>




        </div>
        <br>

        <div class="card text-center" style="width: 20rem; background-color:#212529 !important;">
          <h5 style="color:white">
         

             <div>
               <label for="">Descargar todos los refutes de este canal</label>
               <a class="btn btn-success" href="/facebookdescargarrefute">Descargar </a>
             </div>


       </div>
    </div>



 

    <div class="col-8">


        <% if (data!='NULL') {%>







            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col"># de caso</th>
                    <th scope="col">fecha de caso</th>
                    <th scope="col">Nombre asesor</th>
                    <th scope="col">Segmento</th>
                    <th scope="col">Cliente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><%= data.N_DE_CASO %> </th>
                    <td><%= data.FECHA_CASO%> </td>
                    <td><%= data.AGENTE_MONITOREADO %> </td>
                    <td><%= data.SEGMENTO %> </td>
                    <td><%= data.CLIENTE %> </td>
                  </tr>
           
                </tbody>
              </table>     
                
       
                <div class="card-body">
                  <form action="/crearrefute" enctype="multipart/form-data" method="post">
                    <div class="form-group " hidden>
                        <label for=""> # de fila</label>
                      <input type="text" name="fila" value="<%= data.rowNumber%>" placeholder="" class="form-control" autofocus>
                      <input type="text" name="ncaso" value="<%= data.N_DE_CASO %>" placeholder="" class="form-control" autofocus>
                      <input type="text" name="creador" value="<%= usuario.email %>" placeholder="" class="form-control" autofocus>
                      <input type="text" name="canal" value="<%= data.CANAL %>" placeholder="" class="form-control" autofocus>



                      
                    </div>

                    <div class="form-group">
                      <label  for=""> Nota a refutar</label>
                      <select name="nota_a_refutar"  class="form-control">
                           <option value="ENC - Protocolos de atención y vocación de servicio">ENC - Protocolos de atención y vocación de servicio</option>
                           <option value="ENC - Escucha activa">ENC - Escucha activa</option>
                           <option value="ENC - Comunicación">ENC - Comunicación</option>
                           <option value="ENC- Ortografía y Redacción">ENC- Ortografía y Redacción</option>
                           <option value="EC_UF - Actitud de Servicio y amabilidad">EC_UF - Actitud de Servicio y amabilidad</option>
                           <option value="EC_UF - Información">EC_UF - Información</option>
                           <option value="EC_UF - Agente entrega información correcta sin evadir llamada">EC_UF - Agente entrega información correcta sin evadir llamada</option>
                           <option value="EC_UF - Manejo de tiempos">EC_UF - Manejo de tiempos</option>
                           <option value="EC_UF - Uso de la herramienta /sistema de información">EC_UF - Uso de la herramienta /sistema de información</option>
                           <option value="EC_UF - Realiza los escalamientos procedentes">EC_UF - Realiza los escalamientos procedentes</option>
                           <option value="EC_UF - Requerimientos del cliente">EC_UF - Requerimientos del cliente</option>
                           <option value="EC_NEG - Tipificación Vicidial">EC_NEG - Tipificación Vicidial</option>
                           <option value="EC_NEG - Firma Digital">EC_NEG - Firma Digital</option>
                           <option value="EC_NEG - Respeto por la compañía">EC_NEG - Respeto por la compañía</option>
                           <option value="EC_NEG - Cierre de Caso">EC_NEG - Cierre de Caso</option>
                           <option value="EC_NEG - Encuesta de satisfacción">EC_NEG - Encuesta de satisfacción</option>
                           <option value="EC_NEG - Aplica parada de reloj (PDR)">EC_NEG - Aplica parada de reloj (PDR)</option>
                           <option value="EC_CUM - Confirmación de datos">EC_CUM - Confirmación de datos</option>
                           <option value="EC_CUM - Correo informativo">EC_CUM - Correo informativo</option>
                           <option value="ENC - Protocolos de atención y vocación de servicio">ENC - Protocolos de atención y vocación de servicio</option>
                           <option value="ENC - Escucha activa">ENC - Escucha activa</option>
                           <option value="ENC - Comunicación">ENC - Comunicación</option>
                           <option value="ENC- Ortografía y Redacción">ENC- Ortografía y Redacción</option>
                           <option value="EC_UF - Actitud de Servicio y amabilidad">EC_UF - Actitud de Servicio y amabilidad</option>
                           <option value="EC_UF - Información">EC_UF - Información</option>
                           <option value="EC_UF - Agente entrega información correcta sin evadir llamada">EC_UF - Agente entrega información correcta sin evadir llamada</option>
                           <option value="EC_UF - Manejo de tiempos">EC_UF - Manejo de tiempos</option>
                           <option value="EC_UF - Uso de la herramienta /sistema de información">EC_UF - Uso de la herramienta /sistema de información</option>
                           <option value="EC_UF - Realiza los escalamientos procedentes">EC_UF - Realiza los escalamientos procedentes</option>
                           <option value="EC_UF - Requerimientos del cliente">EC_UF - Requerimientos del cliente</option>
                           <option value="EC_NEG - Transferencia">EC_NEG - Transferencia</option>
                           <option value="EC_NEG - Tipificación Vicidial">EC_NEG - Tipificación Vicidial</option>
                           <option value="EC_NEG - Firma Digital">EC_NEG - Firma Digital</option>
                           <option value="EC_NEG - Respeto por la compañía">EC_NEG - Respeto por la compañía</option>
                           <option value="EC_NEG - Cierre de Caso">EC_NEG - Cierre de Caso</option>
                           <option value="EC_NEG - Encuesta de satisfacción">EC_NEG - Encuesta de satisfacción</option>
                           <option value="EC_NEG - Aplica parada de reloj (PDR)">EC_NEG - Aplica parada de reloj (PDR)</option>
                           <option value="EC_CUM - Confirmación de datos">EC_CUM - Confirmación de datos</option>
                           <option value="EC_CUM - Correo informativo">EC_CUM - Correo informativo</option>
                           <option value="ENC - Estructura de la respuesta">ENC - Estructura de la respuesta</option>
                           <option value="ENC - Ortografía de la respuesta">ENC - Ortografía de la respuesta</option>
                           <option value="EC_UF - Análisis y gestión">EC_UF - Análisis y gestión</option>
                           <option value="EC_UF - Redacción">EC_UF - Redacción</option>
                           <option value="EC_UF - Realiza los escalamientos procedentes">EC_UF - Realiza los escalamientos procedentes</option>
                           <option value="EC_UF - Respuesta correcta y completa">EC_UF - Respuesta correcta y completa</option>
                           <option value="EC_NEG - Gestión de aplicativos">EC_NEG - Gestión de aplicativos</option>
                           <option value="EC_NEG - Firma digital">EC_NEG - Firma digital</option>
                           <option value="EC_CUM - Aspectos Legales">EC_CUM - Aspectos Legales</option>
                           <option value="ENC - Protocolos de atención y vocación de servicio">ENC - Protocolos de atención y vocación de servicio</option>
                           <option value="ENC - Ortografía y Redacción">ENC - Ortografía y Redacción</option>
                           <option value="ENC - Estructura de la conversación">ENC - Estructura de la conversación</option>
                           <option value="EC_UF - Actitud de Servicio y amabilidad">EC_UF - Actitud de Servicio y amabilidad</option>
                           <option value="EC_UF - Análisis y Gestión oportuna">EC_UF - Análisis y Gestión oportuna</option>
                           <option value="EC_UF - Uso de la herramienta /sistema de información">EC_UF - Uso de la herramienta /sistema de información</option>
                           <option value="EC_NEG - Respeto por la compañía">EC_NEG - Respeto por la compañía</option>
                           <option value="EC_NEG - Manejo adecuado de la plataforma">EC_NEG - Manejo adecuado de la plataforma</option>
                           <option value="EC_CUM - Confirmación de datos">EC_CUM - Confirmación de datos</option>
                           <option value="EC_CUM - Fecha de creación del TK">EC_CUM - Fecha de creación del TK</option>
                           <option value="ENC - Estructura de la respuesta">ENC - Estructura de la respuesta</option>
                           <option value="ENC - Registro de la gestión">ENC - Registro de la gestión</option>
                           <option value="EC_UF - Análisis y gestión">EC_UF - Análisis y gestión</option>
                           <option value="EC_UF - Redacción">EC_UF - Redacción</option>
                           <option value="EC_UF - Respuesta correcta y completa">EC_UF - Respuesta correcta y completa</option>
                           <option value="EC_UF - Incidentes del cliente">EC_UF - Incidentes del cliente</option>
                           <option value="EC_NEG - Gestión de aplicativos">EC_NEG - Gestión de aplicativos</option>
                           <option value="EC_NEG - Aplica parada de reloj (PDR)">EC_NEG - Aplica parada de reloj (PDR)</option>
                           <option value="EC_CUM - Aspectos Legales">EC_CUM - Aspectos Legales</option>
                           <option value="ENC - Estructura de la respuesta">ENC - Estructura de la respuesta</option>
                           <option value="EC_UF - Análisis y gestión">EC_UF - Análisis y gestión</option>
                           <option value="EC_UF - Redacción">EC_UF - Redacción</option>
                           <option value="EC_UF - Respuesta correcta y completa">EC_UF - Respuesta correcta y completa</option>
                           <option value="EC_NEG - Gestión de aplicativos (PQR)">EC_NEG - Gestión de aplicativos (PQR)</option>
                           <option value="EC_CUM - Aspectos Legales">EC_CUM - Aspectos Legales</option>
                           <option value="ENC - Comunicación entregada al cliente">ENC - Comunicación entregada al cliente</option>
                           <option value="ENC – Ortografía">ENC – Ortografía</option>
                           <option value="ENC - Protocolos de atención y vocación del servicio (Solo aplica para cuando la interacción es telefónica)">ENC - Protocolos de atención y vocación del servicio (Solo aplica para cuando la interacción es telefónica)</option>
                           <option value="ENC - Escucha Activa (Solo aplica para cuando la interacción es telefónica)">ENC - Escucha Activa (Solo aplica para cuando la interacción es telefónica)</option>
                           <option value="ENC - Comunicación (Solo aplica para cuando la interacción es telefónica)">ENC - Comunicación (Solo aplica para cuando la interacción es telefónica)</option>
                           <option value="EC_UF - Análisis y gestión">EC_UF - Análisis y gestión</option>
                           <option value="EC_UF – Redacción">EC_UF – Redacción</option>
                           <option value="EC_UF - Respuesta correcta y completa">EC_UF - Respuesta correcta y completa</option>
                           <option value="EC_NEG - Gestión de aplicativos">EC_NEG - Gestión de aplicativos</option>
                           <option value="EC_CUM - Aspectos Legales">EC_CUM - Aspectos Legales</option>
                        

                      </select>

                    </div>

                    <div class="form-group">
                        <label for=""> Motivo</label>

                        <input type="text" name="descripcion_motivo" value=" " placeholder="" class="form-control" >
                    </div>

                    <div class="form-group">
                      <label for=""> Cargar evidencia</label>
                      <input type="file" name="image1" accept='image/*' >


                  </div>


                    
                   
          
                    <button type="submit" class="btn btn-primary" onclick="return confirm('estas seguro de guardar la informacion escrita?, esta accion es irreversible')">
                      Guardar Cambios
                    </button>

                   
                  </form>

                </div>
              
        
                  
                    <% } %>
  
              

    </div>
</div>
<style>

</style>
<% if (data!='NULL') {%>
<div class="row" >

  <table class="table table-dark" style="font-size:10px ;">
    <thead>
      <tr>
        <th scope=""># Caso</th>
        <th scope="">Creado por</th>
        <th scope="">Nota a Refurtar</th>
        <th scope="">Descripcion Motivo</th>
        <th scope="">Evidencia</th>
        <th scope="">Validacion Teledisca</th>
        <th scope="">Descripcion de Validacion</th>
        <th scope="">Evidencia Teledisca</th>
        <th scope="">Fecha Creacion</th>
        <% if(usuario.rol == 'admin') {%>
          <th scope="col"> Acciones </th>
              <%}%>      </tr>
    </thead>
    <tbody>

      <% for (var i = 0 ; i < datos.length; i++) {%>
      <tr>
        <th scope="row"><%= datos[i].id_caso %> </th>
        <td><%= datos[i].creador%> </td>

        <td><%= datos[i].nota_a_refutar%> </td>
        <td>
      

          <textarea class="form-group form-rounded" name="descripcion_motivo" readonly  rows = "5" cols="40" maxlength="1000" onfocus=true> 
            <%= datos[i].descripcion_motivo %>
           </textarea>  
          
          </td>

          <td>   <a href="<%= datos[i].evidencia1%> " target="_blank">  
                       <img class="zoom" src="<%= datos[i].evidencia1%> " alt="" width="100px" height="100px" onclick="agrandar()" _blank>  </a>    </td>
<script>
  img = document.getElementById('zoom')
  function agrandar(){
    img.style.transform = 'scale(1.9)'

  }
</script>

           
        <td><%= datos[i].validacion_teledisca %> </td>
        <td>    
          <textarea class="form-group form-rounded" name="descripcion_validacion" readonly  rows = "5" cols="40" maxlength="1000" onfocus=true> 
            <%= datos[i].descripcion_validacion %> 
           </textarea>        
        </td>

        <td> 
           <a href="<%= datos[i].evidencia2%> " target="_blank">  
                      <img class="zoom" src="<%= datos[i].evidencia2%> " alt="" width="100px" height="100px" onclick="agrandar()" _blank> 
           </a>

        </td>
   

        <td><%= datos[i].fecha_creacion_refute %> </td>


        <% if(usuario.rol == 'admin') {%>
                  <th scope="col"> <a class="btn btn-info" href="editarrefute/<%= datos[i].id%>">Editar</a> </th>

              <%}%>

      </tr>
        <%}%>
    </tbody>
  </table>     
</div>

<% } %>















<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>

<%- include('../partials/footer.html') %>