<%- include('../partials/header.html') %>
<style>
	.btn-card {
background-color: #28a9e1; /* Green */
border: none;
color: white;
padding: 5px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 20px;
}
.titulo-canales{
	font-size: 20px;
	font-weight: 600;

}
.card-img-top{
	width:65% !important;
}
</style>
<a href="javascript:history.back()">
	<i class="fa-sharp fa-solid fa-arrow-left"></i>
	<span>Volver</span>
  </a>
<div class=" mx-auto mt-4" >
	<div class="row" >







	  <div class="col-md-4">  <!--ContacCenter-->



		<div class="" style="width: 18rem; text-align:center;"> <!--ContacCenter-->
			<img src="resources/images/Recurso6.png" class="card-img-top" alt="...">
			<div class="card-body">
				  <h6 class="card-subtitle mb-2 text-muted"></h6>
			  <p class="titulo-canales">TOTALPLAY</p>
			  <a href="/telediscareportestotalplay" class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
			 	
			</div>
		</div>
		
	  </div>  
	  
	  


	  <div class="col-md-4"> <!--CSEContac-->

								
		<div class="" style="width: 18rem; text-align:center;">
			<img src="resources/images/Recurso5.png" class="card-img-top" alt="...">
			<div class="card-body">
				  <h6 class="card-subtitle mb-2 text-muted"></h6>
			  <p class="titulo-canales">ETB</p>
			  <a href="/telediscareportesetb"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
			</div>
		</div>





	</div> 
							
	  

	<div class="col-md-4">  <!--CSE Correo-->

								
		<div class="" style="width: 18rem; text-align:center;">
			<img src="resources/images/Recurso7.png" class="card-img-top" alt="...">
			<div class="card-body">
				  <h6 class="card-subtitle mb-2 text-muted"></h6>
			  <p class="titulo-canales">OTRO</p>
			  <a href="/otro"  class="btn-card mr-2 pt-2"> Ver estadísticas</a> 
			</div>
		</div>





	</div> 

	  
       </div>
	</div>
	









<style>
	:root {
  --gradient: linear-gradient(to left top, #f8e7ef 10%, #e9d3ce 90%) !important;
}


.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
</style>










  <%- include('../partials/footer.html') %>
