<%- include('../partials/header.html') %>
<a href="javascript:history.back()">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <span>Volver</span>
  </a>
 


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/c89a72bb-3250-4f1d-a117-4ad14d1e56de/page/VgD"  allowfullscreen></iframe>
  </div>
 
  



<%- include('../partials/footer.html') %>