<%- include('../partials/header.html') %>
<a href="javascript:history.back()">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <span>Volver</span>
  </a>
 


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="https://datastudio.google.com/embed/reporting/2214c3c5-bbc5-441a-ab72-2579e1f2bcbe/page/VgD"  allowfullscreen></iframe>
  </div>
 
  



<%- include('../partials/footer.html') %>